
{% extends 'base.html' %}
{% block titulo %}  
<h1>Ayuda del sitio</h1>
{% endblock %}
{% block contenido %} 
<p>El dióxido de carbono (CO2) es el principal gas de efecto invernadero que se emite a raíz de las actividades del ser humano.<br>
El dióxido de carbono se hace presente de manera natural en la atmósfera como parte del ciclo del carbono de la Tierra (la circulación natural de carbono entre la atmósfera, los océanos, la tierra, las plantas y los animales). Las actividades del ser humano están alterando el ciclo del carbono: tanto porque suman más CO2 a la atmósfera como influenciando la capacidad de los disipadores naturales (como los bosques) para eliminar el CO2 de la atmósfera e influyendo sobre la capacidad de las tierras para almacenar carbono. Si bien las emisiones de CO2 provienen de diversas fuentes naturales, las emisiones relacionadas con las actividades del ser humano son las responsables del aumento que se ha registrado en la atmósfera desde la revolución industrial.<br>
Los datos a los que podrán acceder es la cantidad de emisión de CO2 total, según país, y los top 10 países más emisores (en total y per capita)</p>
{% endblock %}
